@tailwind base;
@tailwind components;
@tailwind utilities;

#nav{
    background-image: url('./assets/bg-sidebar-desktop.svg');
}

body{
    background-color: hsl(229, 24%, 87%);
}
.listItemCustomStyle > .number{
    transition: 0.3s;
}

.active{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}

.listItemCustomStyle:hover > .number{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);

}

.nextStep{
    background-color: hsl(213, 96%, 18%);
    border-radius: 7px;
    padding: 10px 15px;
    transition: 0.3s;
    cursor: pointer;
}
.nextStep:hover{
    opacity: 0.8;
}

.nextStepWrapper{
    background-color: hsl(206, 94%, 87%);
}

@media (min-width: 640px) {
    body{
        
        width: 100%;
        height: 100%;
    }
    #nav{
        height: 400px;
    }
}