*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f2f2;
}
/** Top section styling */

section.top{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
section.top > img{
    width: 100%;
    height: auto;
}
main{
    position: absolute;
    top: 50px;
    width: 100%;
}
div.links{
    display: flex;
    justify-content: center;
}
div.links > a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid white;
    color: #fff;
}
div.links > a:nth-child(2){
    margin: 0 15px;
}
div.links > a:nth-child(3){
    margin-right: 15px;
}
div.content{
    width: 75%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 17px -1px rgba(0,0,0,0.75);
    padding: 20px 10px;
    border-radius: 7px;
}
div.content h2{
    margin-bottom: 10px;
}
div.content form{
    margin-top: 15px;
}
label, input{
    display: block;
    width: 100%;
}
input{
    margin-bottom: 7px;
    width: 100%;
    padding: 5px;
}
section.footer-sm{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    z-index: 999;
}
section.footer-sm > a{
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: hsl(213, 96%, 18%);
}
section#desktop{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
    border-radius: 7px;
}
nav{
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-position: bottom;
    padding: 30px 10px;
    width: 350px;
    height: auto;
    border-radius: 7px;
}
div.step{
    display: flex;
    margin-bottom: 20px;    

}
div.step-info{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 15px;
}
div.step-info > p:nth-child(1){
    opacity: 60%;
    font-size: 14px;
}
div.step > a{
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 50%;
    border: 1.5px solid white;
    color: #fff;
}
section.content{
    padding: 20px;
    min-width: 300px;
    min-height: 400px;
    position: relative;
}
section.content > h1{
    margin-bottom: 10px;
}
section.content > p{
    margin-bottom: 15px;
    opacity: 70%;
}
a.nextstep-desktop{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: hsl(213, 96%, 18%);
    border-radius: 7px;
}
a.nextstep-desktop-left{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 10px 20px;
    color: hsl(231, 11%, 63%);
}
@media (min-width:800px){
    section.top, main, section.footer-sm{
        display: none;
    }
    section#desktop{
        display: flex;
    }
}