section.footer-sm{
    justify-content: space-between;
}
section.footer-sm > a:nth-child(1){
    background-color: inherit;
    color: hsl(231, 11%, 63%);
}

div.plan{
    display: flex;
    border: 1px solid hsl(213, 96%, 18%);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 5px;
}
div.content > p{
    margin-bottom: 10px;
}
div.plan-price{
    margin-left: 10px;
}

/* monthly --> Yearly */

div.month-day-change-sm{
    border-radius: 7px;
    background-color: hsl(229, 24%, 87%);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
}
div.month-day-change-sm:hover{
    cursor: pointer;
}
div.month-day{
    width: 50px;
    height: 15px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 30px;
    margin: 0 10px;
    padding: 3px;
    display: flex;
    align-items: center;
}
div.month-day-change{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 1s;
}
div.plan-desktop{
    display: flex;
    justify-content: space-between;
}
div.plan-desktop-child{
    border: 1.5px solid hsl(229, 24%, 87%);
    border-radius: 7px;
    padding: 10px 7px;
    width: 31%;
    cursor: pointer;
}
div.plan-desktop-child:hover{
    border: 1.5px solid hsl(213, 96%, 18%) ;
}
p.plan-title{
    margin-top: 40px;
    color: hsl(213, 96%, 18%) ;
    font-size: 15px;
}
p.price{
    color: hsl(231, 11%, 63%);
} 